[pP]ackages/
node_modules/
[bB]in/
[oO]bj/
.[cC]ache
.vs/
*.csproj.user
package-lock.json
sqlArtefact/
*.pubxml.user
**/.idea/*
StyleCop.Cache
*.[bB]ak
SqlArtifact.txt
*.sln.DotSettings.user
*.mo
.vendor/*
webs/MdbProcurement.Adoria.Web/Resources
[pP]ublish/